* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(229, 229, 229);
}

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    justify-content: center;
}

.checkoutLayout .right {
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    padding: 40px;
    color: rgb(255, 255, 255);
    width: 65%;
    height: 565px;
}

.checkoutLayout .list img {
    margin-left: 5vh;
    height: 10vh;
}

.checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
    padding-bottom: 20px;
}

.checkoutLayout .form .group:nth-child(-n+3) {
    grid-column: 1 / 3;
}

.checkoutLayout .form input {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(171, 171, 171);
    cursor: pointer;
}

.returnCart a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 5px;
    display: flex;
    background: #000;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.returnCart h1 {
    margin: 4vh 0px;
}

.item {
    display: flex;
    align-items: center;
    gap: 6vh;
    background: rgb(255, 255, 255);
    border-radius: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.cart-item {
    display: flex;
    font-style: italic;
    align-items: center;
    gap: 10px;
    background: #fff;
    word-break: normal;
    width: 100%;
    border-radius: 7vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}
.error {
    color: #ec1e1e
}

.cep_btn {
    margin: 1vh 0;
    border: none;
    width: 50%;
    height: 3vh;
    border-radius: 5vh;
    background: #a5a5a5;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width:765px){
    .checkoutLayout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
    .checkoutLayout .right{
        width:100%;
        height: 700px;
    }
    .checkoutLayout .list img{
        height: 5vh;
        margin-left: 2vh;
    }
    .cart-item{
        height:10vh;
        gap: 5px;
        word-break: normal;
        font-size: 13px;
    }
}