*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #232332;
    background: #fbf9f5;
}

.menu-top {
    width: 100%;
    background: #fff;
    height: 85px;
}

.elements-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin: 0% 10% 0% 10%;
    align-items: center;
}

.wrapper {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

nav.navig-one {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.a-top {
    color: #232323;
    font-size: 16px;
    font-weight: 100;
}
.a-top:hover {
    color: #4e4e4e;
}
.elements-top img, .logo img {
    width: 5vh;
}

.logo_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.message-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message-content h3 {
    color: #393939;
    font-size: 3vh;
    letter-spacing: 8px;
    margin-bottom: 5vh;
}

.message-content span {
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 1vh;
}

.message-content p {
    font-size: 1.01em;
    color: #979797;
}

footer {
    width: 100%;
    text-align: center;
    height: auto;
    top: 0;
    position: relative;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.social-icons svg {
    width: 30px;
    height: 15px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    height: auto;
    padding: 5vh;
}
@media only screen and (max-width:765px){
    .message-content h3,.message-content span {
    padding:0 5vh;
    text-align:center
}
}