*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #232332;

}

.menu-top {
    width: 100%;
    background: #fff;
    height: 85px;
}

.elements-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin: 0% 10% 0% 10%;
    align-items: center;
}

.wrapper {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

nav.navig-one {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.a-top {
    color: #232323;
    font-size: 16px;
    font-weight: 100;
}
.a-top:hover {
    color: #4e4e4e;
}


.welcome-page {
    background: #faeccf;
    width: 100%;
    height: 510px;
    display: flex;
    background-image: url(bckg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 75vh;
}

.text-welcome {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
    margin-left: 6%;
}

#abt {
    width: 165px;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #000000;
    transition: 1s;
}
#abt:hover {
    transform: scale(1.080);
}

.text-welcome p {
    width: 50rem;
    /* text-transform: capitalize; */
    color: #444;
    line-height: 1.7;
}

.text-welcome h2 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
}

#abt a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

nav.navig-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    gap: 50px;
    letter-spacing: 4px;
}

.navig-two a {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding: 5px 10px;
    display: inline-block;
    transition: border 0.3s;
}

.navig-two::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 50%;
    border-bottom: 2px solid #E1AA74;
}
.image-grid-plant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    padding: 0 15vh;
  }

  .product-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 15%;
    position: relative;
  }

  .img-box {
    width: 70vh;
    padding: 2vh;
    background: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20vh;
    margin-bottom: 7vh;
  }

  .img-box-two {
    width: 100%;
    height: 585px;
    border: 2px solid #fdfdfd;
    background: #fdfdfd !important;
    border-radius: 30px;
    padding: 10px;
    background: #fff;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
  }

  /* .img-box p {
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s  ease;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    bottom: 50%;
  }

  .img-box:hover p {
    opacity: 1; 
  }
 */
  .img-box img:hover {
    transform: rotate(-2deg) scale(1.12);
  }

  .img-box img {
    max-width: 400px;
    max-height: 400px !important;
    transition: 0.70s;
  }
  .img-box-two img {
    max-width: 275px;
    max-height: 275px;
    transition: 0.70s;
    cursor: pointer;
  }


.img-box p {width: 300px;height: 290px;line-height: 2;letter-spacing: 1px
            ;}
.image-grid-plant button {position: relative;left: 90%;margin-top: 4rem;}
.product-page {
    background: #faeccf;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.product-text h2 {
    color: #fff;
    letter-spacing: 30px;
    font-weight: 100;
}

.product-text h2::before {
  content: "";
  position: absolute;
  bottom: 44%;
  left: 22%;
  width: 51%;
  border-bottom: 2px solid #ffffff;
  }

.product-text p {
    color: #000;
}

.img-box-two p {
    letter-spacing: 1px;
}

footer {
    width: 100%;
    box-sizing: border-box;
    height: 145px;
    padding: 20px 0;
    text-align: center;
    margin-top: 10%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.social-icons svg {
    width: 30px;
    height: 15px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 5%;
}
@media only screen and (max-width: 765px) {
  .text-welcome {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 4vh;
  }

  .text-welcome p {
    width: auto;
  }
  .image-grid-plant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .img-box {
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 35px;
  }
  .img-box p {
    width: 300px;
    padding: 13px;
  }
  nav.navig-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navig-two::before {
      display: none;
/*     bottom: 23% !important; */
  }
  #abt {
  position: relative;
  left: 0%;
  margin-top: 0;
  }
  .product-elements {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .product-text {
    align-items: flex-start;
    display: flex;
    justify-content: left;
    margin-bottom: 20%;
    margin-top: 0;
  }
  .img-box-two {
    width: 270px;
    height: 300px;
  }
  .img-box-two img {
    width: 150px;
    height: 170px
  }
  .product-page {
    height: 1550px;
  }
  .product-text h2::before {
    bottom: 60%;
    left: -5%;
  }
  .welcome-page {
    height: auto !important;
  }
  .img-box img {
    width: 20vh !important
  }
}

.a-top:hover::after {
  width: 100%
}

.a-top::after {
    position: absolute;
    height: 1px;
    content: '';
    width: 0;
    top: 2.3vh;
    left: 0;
    background: #000;
    transition: 1.8s width ease;
}

.a-top {
    position: relative;
}

.elements-top img {
    width: 5vh;
}

.logo_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.align_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

.align_title h2 {
    font-size: 30px;
    letter-spacing: 3px;
}

.img-box h3 {
    font-size: 20px;
    letter-spacing: 8px;
    color: #914a34;
}

.product-elements p {
    color: #8f8f8f;
    text-decoration: line-through;
}

.product-elements span {
    color: #d93e00;
    font-weight: bold;
    margin-bottom: 2vh;
}

.img-box img {
    width: 55vh;
}